.main-content {
  padding: 10px;
}

.wrapper-table {
  overflow-x: auto;
}

@media screen and ( min-width : 1050px ) {

  .main-content {
    align-items: flex-start;
    display: grid;
    gap: 10px;
    grid-template-columns: 250px auto;
    justify-content: space-evenly;
  }

  .wrapper-table {
    overflow-x: visible;
  }
}

