* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --color1: whitesmoke;

  --color2: rgb(107, 107, 243);

  --color3: rgb(27, 27, 124);

  --color4: rgb(7, 180, 214);

  --color5: rgb(38, 206, 240);

  --color6: rgb(189, 242, 253);
}

body {
  background: var(--color1);
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Open Sans, sans-serif;
}

input {
  appearance: textfield;
}

input::-webkit-outer-spin-button , input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  text-align: center;
}

.btn , .input {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 8px;
}

.input {
  background-color: #eaeaff;
  color: rgb(32, 32, 32);
  flex-grow: 1;
  margin: 5px 0;
  text-align: center;
}

.btn {
  background-color: var(--color4);
  color: var(--color6);
  display: block;
  font-weight: 400;
}

.btn:hover {
  background-color: var(--color5);
  color: white;
}

